{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Making by Yunus Emre Altanay for Tutorial Purposes <a href="https://www.yemrealtanay.com">yemrealtanay.com</a></small>
            </div>
        </div>
    </div>
{{end}}