/project/db-data/*

/front-end/frontApp

/broker-service/brokerApp
/logger-service/loggerServiceApp
/openai-service/openAIServiceApp
/mail-service/mailerApp

/authentication-service/authApp
/project/db-data/mongo/
/openai-service/.env
/project/docker-compose.yml
